MONGO_URI=mongodb://localhost:27017/video_streaming_db

REDIS_HOST=localhost
REDIS_PORT=6379

STORAGE_DRIVER=local

AWS_REGION=us-east-1
AWS_S3_BUCKET_NAME=your_s3_bucket_name
AWS_ACCESS_KEY_ID=your_aws_access_key_id
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key